In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('Coded_Data.csv')
df.head()

   Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10 Result
0  53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0      Y
1  36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8      N
2  41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9      N
3  71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9      Y
4  74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9      Y

In [4]:
df.isnull().sum()

Cd_1      0
Cd_2      0
Cd_3      0
Cd_4      0
Cd_5      0
Cd_6      0
Cd_7      0
Cd_8      0
Cd_9      0
Cd_10     0
Result    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cd_1    1000 non-null   float64
 1   Cd_2    1000 non-null   float64
 2   Cd_3    1000 non-null   float64
 3   Cd_4    1000 non-null   float64
 4   Cd_5    1000 non-null   float64
 5   Cd_6    1000 non-null   float64
 6   Cd_7    1000 non-null   float64
 7   Cd_8    1000 non-null   float64
 8   Cd_9    1000 non-null   float64
 9   Cd_10   1000 non-null   float64
 10  Result  1000 non-null   object
dtypes: float64(10), object(1)
memory usage: 86.1+ KB

In [6]:
df.describe()

,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,55.160100,60.772100,48.424600,41.72640,62.568300,56.610000,56.234600,60.044600,61.428300,71.955300
std,16.822071,14.017291,16.924519,14.04612,14.752008,15.363676,14.890992,16.186116,15.574547,10.782696
min,10.100000,24.100000,9.900000,2.80000,19.100000,15.700000,17.200000,16.800000,19.400000,33.800000
25%,43.100000,51.400000,35.700000,31.50000,52.800000,45.675000,45.800000,48.500000,49.575000,64.575000
50%,54.650000,61.000000,47.200000,41.40000,62.750000,56.500000,55.200000,59.700000,61.800000,72.600000
75%,67.600000,71.300000,59.700000,51.02500,72.600000,67.400000,66.225000,71.900000,73.325000,79.500000
max,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

# Split Data

In [7]:
features=df.drop('Result',axis=1)
target=df['Result']

In [8]:
features.head()

   Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10
0  53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0
1  36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8
2  41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9
3  71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9
4  74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9

In [9]:
target.head()

0    Y
1    N
2    N
3    Y
4    Y
Name: Result, dtype: object

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [11]:
scaler.fit(features)

StandardScaler()

In [12]:
scaled_features=scaler.transform(features)
scaled_features

array([[-0.12252539,  0.1875694 , -0.91183199, ..., -1.48006982,
        -0.95256187, -0.64536551],
       [-1.08602779, -0.43340316, -1.02415132, ..., -0.20055606,
        -1.82621843,  0.6351032 ],
       [-0.78865051,  0.33745933,  0.30003449, ...,  0.28776079,
        -0.68275617, -0.3762815 ],
       ...,
       [ 0.64470801, -0.51191693, -0.17880055, ..., -2.36398512,
        -0.81123508,  0.11549271],
       [ 0.46628164, -0.98299956, -1.46751711, ..., -0.03984418,
         0.40289057, -0.85877696],
       [-0.39016495, -0.59756832, -1.43204784, ..., -0.56524838,
         0.33865112,  0.01342636]])

In [13]:
type(scaled_features)

numpy.ndarray

In [14]:
#Before Scaling
df.head()

   Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10 Result
0  53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0      Y
1  36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8      N
2  41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9      N
3  71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9      Y
4  74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9      Y

In [15]:
col=df.columns[:-1]
col

Index(['Cd_1', 'Cd_2', 'Cd_3', 'Cd_4', 'Cd_5', 'Cd_6', 'Cd_7', 'Cd_8', 'Cd_9',
       'Cd_10'],
      dtype='object')

In [16]:
#After Scaling
df.scaled_features=pd.DataFrame(scaled_features,columns=col)
df.scaled_features

,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
0,-0.122525,0.187569,-0.911832,0.318653,-1.035516,-2.305940,-0.801865,-1.480070,-0.952562,-0.645366
1,-1.086028,-0.433403,-1.024151,0.624941,-0.445471,-1.153296,-1.131088,-0.200556,-1.826218,0.635103
2,-0.788651,0.337459,0.300034,0.753154,2.030007,-0.873275,2.597862,0.287761,-0.682756,-0.376282
3,0.983718,1.058359,-0.622166,0.624941,0.449771,-0.267648,1.751290,1.066595,1.244427,-1.025795
4,1.138354,-0.640394,-0.710839,-0.058864,0.822788,-0.938396,0.595651,-1.473889,1.038861,0.273232
...,...,...,...,...,...,...,...,...,...,...
995,0.210537,-0.312064,0.063573,-0.258307,0.015714,-1.394244,-0.848897,-2.605053,-0.136721,-0.070082
996,-1.294192,-0.618981,0.370973,0.482481,1.568822,1.275723,0.360492,-1.239002,-0.682756,1.470191
997,0.644708,-0.511917,-0.178801,1.023827,-0.540420,-0.228575,-2.259851,-2.363985,-0.811235,0.115493
998,0.466282,-0.983000,-1.467517,-0.073110,2.369113,-0.000651,-0.418892,-0.039844,0.402891,-0.858777
999,-0.390165,-0.597568,-1.432048,0.510973,-0.404778,-2.025919,-0.727958,-0.565248,0.338651,0.013426

# Train Test split

In [18]:
from sklearn.model_selection import train_test_split as tts

In [19]:
x= features
y=target

In [20]:
xtrain,xtest,ytrain,ytest=tts(x,y, test_size=.25, random_state=1)

In [22]:
xtrain

     Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10
298  48.1  64.1  45.3  29.5  74.5  53.6  37.8  81.1  66.5   74.6
160  34.4  68.8  61.6  58.5  98.9  64.5  44.3  46.4  42.8   78.1
268  43.9  95.2  51.4  57.9  74.0  66.5  72.1  82.3  60.5   46.9
658  38.5  61.4  44.9  38.9  58.0  66.7  53.4  80.9  40.7   86.8
996  33.4  52.1  54.7  48.5  85.7  76.2  61.6  40.0  50.8   87.8
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
767  43.8  24.1  35.8  38.5  65.6  54.3  88.8  51.2  62.3   59.6
72   71.2  33.1  67.7  34.2  32.0  45.9  42.0  57.4  70.1   70.5
908  70.4  60.8  31.2  38.8  36.6  46.3  59.2  54.5  59.9   84.8
235  55.0  78.3  35.2  27.2  54.7  56.0  51.3  37.4  69.1   70.7
37   56.9  78.7  46.2  31.5  45.4  48.8  54.2  39.2  79.1   68.8

[750 rows x 10 columns]

In [23]:
ytest

507    N
818    Y
452    N
368    N
242    Y
      ..
385    N
890    N
439    Y
135    Y
567    N
Name: Result, Length: 250, dtype: object

# KNN

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knn=KNeighborsClassifier(n_neighbors=3)

In [36]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=3)

In [37]:
predictions=knn.predict(xtest)
predictions

array(['N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N',
       'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N',
       'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N',
       'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'N'], dtype=object)

In [38]:
knn.score(xtest,ytest)

0.932